body {
  background-color: #081B2D ;
}

.jumbotron {
  font-family: 'Ceviche One', cursive;
  text-align: center;
  color: #081B2D;
  background-image: url("../images/bomb-detonation.png");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 103% 10%;
  background-color: #8C7733;
}

#tableHeader {
  background-color: #26415B;
}

.table {
  color: white;
}
